<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_inicio.css')}}">
  </head>

  <body>
        <header>
          <div class="logo">Olá, {{ session['nome'] }}!</div>
          <div class="hamburguer">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        <nav class="nav-bar">
          <ul>
              <li><a href="#"class="active">Inicio</a></li>
              <li><a href="{{ url_for('livros') }}">Lista de livros</a></li>
              <li><a href="#">Minhas reservas</a></li>
              <li><a href="#">Sair</a></li>
          </ul>
        </nav>
      </header>

      <div class="initial_content">
        <div class="texto">
            <p>Bem vindo(a)! Fique a vontade para explorar o site</p>
        </div>
        <div class="img">
          <img src="static\image\Learning-amico.png" width="400" height="400">
        </div>
      </div>

      <script>
        hamburger = document.querySelector(".hamburguer");
        hamburger.onclick = function(){
           navBar = document.querySelector(".nav-bar");
           navBar.classList.toggle("active");
        }
      </script>
  </body>
</html>